@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.content-box {
  background-color: $white;
}
.drop-list {
  max-height: 380px;
  width: 600px;
  max-width: 90%;
  overflow: auto;
}

agm-map {
  height: 300px;
}
